<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betplay.stargroup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo_stargroup"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo_stargroup"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.betplay.stargroup.TransactionList"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.Support"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.starline_games"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.starline_timings"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.starline_markets"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.adapter_number_circles"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.SpDpTp"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.SpMotor"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.RedBracket"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.OddEven"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.WithdrawDetails"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroup.MobileVerification"
            android:exported="false" />
        <activity android:name="com.betplay.stargroup.withdraw" />
        <activity android:name="com.betplay.stargroup.single_bet" />
        <activity android:name="com.betplay.stargroup.games" />
        <activity android:name="com.betplay.stargroup.deposit_money" />
        <activity android:name="com.betplay.stargroup.webview" />
        <activity android:name="com.betplay.stargroup.chart_menu" />
        <activity android:name="com.betplay.stargroup.charts" />
        <activity android:name="com.betplay.stargroup.crossing" />
        <activity android:name="com.betplay.stargroup.earn" />
        <activity android:name="com.betplay.stargroup.fullsangam" />
        <activity android:name="com.betplay.stargroup.halfsangam" />
        <activity android:name="com.betplay.stargroup.betting" />
        <activity android:name="com.betplay.stargroup.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.betplay.stargroup.ledger" />
        <activity android:name="com.betplay.stargroup.transactions" />
        <activity android:name="com.betplay.stargroup.played" />
        <activity android:name="com.betplay.stargroup.howot" />
        <activity android:name="com.betplay.stargroup.thankyou" />
        <activity android:name="com.betplay.stargroup.bazar" />
        <activity android:name="com.betplay.stargroup.notice" />
        <activity android:name="com.betplay.stargroup.rate" />
        <activity android:name="com.betplay.stargroup.profile" />
        <activity android:name="com.betplay.stargroup.signup" />
        <activity android:name="com.betplay.stargroup.login" />
        <activity android:name="com.betplay.stargroup.MainActivity" />
    </application>

</manifest>