<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betplay.stargroupapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo_stargroup"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo_stargroup"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.betplay.stargroupapp.TransactionList"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.Support"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.starline_games"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.starline_timings"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.starline_markets"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.adapter_number_circles"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.SpDpTp"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.SpMotor"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.RedBracket"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.OddEven"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.WithdrawDetails"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.betplay.stargroupapp.MobileVerification"
            android:exported="false" />
        <activity android:name="com.betplay.stargroupapp.withdraw" />
        <activity android:name="com.betplay.stargroupapp.single_bet" />
        <activity android:name="com.betplay.stargroupapp.games" />
        <activity android:name="com.betplay.stargroupapp.deposit_money" />
        <activity android:name="com.betplay.stargroupapp.webview" />
        <activity android:name="com.betplay.stargroupapp.chart_menu" />
        <activity android:name="com.betplay.stargroupapp.charts" />
        <activity android:name="com.betplay.stargroupapp.crossing" />
        <activity android:name="com.betplay.stargroupapp.earn" />
        <activity android:name="com.betplay.stargroupapp.fullsangam" />
        <activity android:name="com.betplay.stargroupapp.halfsangam" />
        <activity android:name="com.betplay.stargroupapp.betting" />
        <activity android:name="com.betplay.stargroupapp.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.betplay.stargroupapp.ledger" />
        <activity android:name="com.betplay.stargroupapp.transactions" />
        <activity android:name="com.betplay.stargroupapp.played" />
        <activity android:name="com.betplay.stargroupapp.howot" />
        <activity android:name="com.betplay.stargroupapp.thankyou" />
        <activity android:name="com.betplay.stargroupapp.bazar" />
        <activity android:name="com.betplay.stargroupapp.notice" />
        <activity android:name="com.betplay.stargroupapp.rate" />
        <activity android:name="com.betplay.stargroupapp.profile" />
        <activity android:name="com.betplay.stargroupapp.signup" />
        <activity android:name="com.betplay.stargroupapp.login" />
        <activity android:name="com.betplay.stargroupapp.MainActivity" />
    </application>

</manifest>